@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BD7873;
    border: 5px ridge #9c3111;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 15px 15px;
    contain: content;
}

.welcome-title {
    font-family: 'Righteous', cursive;
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 50px;
}

.welcome-txt {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #000000;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.bored-logo-red {
    height: 30%;
    width: 30%;
}