.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BD7873;
    border: 5px ridge #9c3111;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 15px 15px;
}

.welcome-title {
    text-align: center;
    text-decoration: underline;
    color: black;
}

.welcome-txt {
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.bored-logo {
    height: 50vh;
}