@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Righteous&display=swap');

.board-container {
    background-color: #BD7873;
    border: 10px ridge #ffffff;
    border-radius: 20px;
    margin: 20px 20px;
    height: 80vh;
    width: 95vw;
    box-shadow: -5px 10px 5px 5px #0000008f;
    contain: content;
    overflow: scroll;
}

.board-title {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: black;

}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

.no-activity {
    text-align: center;
}

.delete-btn {
    background-color: white;
}
