.board-container {
    background-color: #BD7873;
    border: 10px ridge #1B5E20;
    border-radius: 20px;
    margin: 20px 20px;
    height: 80vh;
    width: 95vw;
}

.board-title {
    text-align: center;
    color: black;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

.no-activity {
    text-align: center;
}

.delete-btn {
    background-color: white;
}
