.badURL-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
}

.badURL-text {
    text-align: center;
}

